body {
  /* 以下為了去除滑動欄 */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.MyContainer {
  margin: auto;
  width: 100%;
  max-width: 400px;

  @include md {
    max-width: 850px;
  }

  @include lg {
    max-width: 1200px;
  }

  @include xl {
    max-width: 1350px;
  }
}