html {
  width: 100%;
  height: 100%;
}

body {
  /* 以下為了去除滑動欄 */
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100%;
  height: 100%;
  // font-family: 'Noto Serif JP', serif;
}

body::-webkit-scrollbar {
  display: none;
}

.mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 10000;

  .mask_box {
    width: 150px;
    height: 150px;
    background: url('../assets/Spin-1s-200px.gif') no-repeat center/cover;
    position: sticky;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;

    @include md {
      width: 200px;
      height: 200px;
    }
  }

}

.MyContainer {
  margin: auto;
  width: 100%;
  max-width: 400px;

  @include md {
    max-width: 850px;
  }

  @include lg {
    max-width: 1200px;
  }

  @include xl {
    max-width: 1350px;
  }
}