// Place SASS variable overrides here
// $font-size-root: 18px;
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400;500;600;700&display=swap');

h2 {
  margin-top: 5rem;
}

.btn {
  margin: 0 10px;
  background: orange;
}